/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff")
      format("woff"),
    /* Modern Browsers */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.svg#Roboto")
      format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/raleway-v28-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/raleway-v28-latin_cyrillic-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../fonts/raleway-v28-latin_cyrillic-700.woff") format("woff"),
    /* Modern Browsers */ url("../fonts/raleway-v28-latin_cyrillic-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/raleway-v28-latin_cyrillic-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
:root {
  --color-primary: #fff;
  --color-secondary: #212121;
  --color-blue: #2196f3;
  --color-hero-back: #c4c4c4;
  --color-dark-background: #2f303a;
  --color-dark-text: #757575;
  --color-button-filter: #f5f4fa;
  --color-logo-dark: #000;
  --color-address-gray: #acacb0;
  --font-family: "Roboto", sans-serif;
  --font-family-logo: "Raleway", sans-serif;
  --font-size-main: 14px;
}
body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: var(--font-family);
  font-size: var(--font-size-main);
}
/* Utility */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* index.html */

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}
.head {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}
.logo-link {
  font-family: var(--font-family-logo);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--color-blue);
}
.logo-dark {
  color: var(--color-logo-dark);
}
.nav-list {
  margin-left: 93px;
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.nav-link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-secondary);
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link.current {
  color: var(--color-blue);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--color-blue);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contact-item + .contact-item {
  margin-left: 40px;
}
.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-dark-text);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--color-blue);
}
/* Hero section */

.hero {
  background-color: var(--color-hero-back);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  min-width: 1200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 30px;
}
.hero-button {
  display: inline-block;
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-primary);

  background: var(--color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  padding: 10px 24px;
  min-width: 200px;
  margin: inherit;
}
.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}
/* Features section */
.features {
  background-color: var(--color-primary);
}
.features-title {
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  max-width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-name {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-dark-text);
}
/* Advantages section */
.advantages {
  background-color: var(--color-primary);
  padding-bottom: 94px;
}
.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.advantages-list {
  display: flex;
  /* justify-content: space-between; */
}
.advantages-item {
  display: inline-block;
}
.advantages-item:not(:last-child) {
  margin-right: 30px;
}
.advantages-pic {
}
/* Team Section */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.team-list {
  display: flex;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-pic {
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-dark-text);
}
.team-text-box {
  background-color: var(--color-primary);
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* Footer */
.footer {
  background: var(--color-dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  margin-bottom: 28px;
}
.logo-light {
  color: var(--color-primary);
}
.footer-address {
}
.address-list {
  font-style: normal;
}
.address-item {
}
.address-item:not(:last-child) {
  margin-bottom: 12px;
}
.address-link {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-primary);
}
.address-link:hover,
.address-link:focus {
  color: var(--color-blue);
}
.address-link-dark {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--color-address-gray);
}
.address-link-dark:hover,
.address-link-dark:focus {
  color: var(--color-blue);
}
/* portfolio.html */
.portfolio {
  background-color: var(--color-primary);
}
.portfolio-title {
}
.visually-hidden {
}
.portfolio-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-item {
}
.portfolio-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-buttons {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-secondary);
  background-color: var(--color-button-filter);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
}
.portfolio-buttons:hover,
.portfolio-buttons:focus {
  color: var(--color-primary);
  background-color: var(--color-blue);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Техника Сетки через отрицательные марджины */
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}
.examples-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.examples-item:hover,
.examples-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
/* Техника Сетки с Ласт-айтем */
/* .examples-item {
  width: calc((100% - 60px) / 3);
}
.examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
} */
/* .examples-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
} */
.examples-pic {
}
.example-text-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.examples-title {
  font-weight: 700;
  font-size: 18px;
  line-height: clac(36/18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.examples-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--color-dark-text);
}
